.Youtube {
    background-color: black;
    position: relative;
}

.Background {
    position: absolute;
    height: 100%;
    width: 50%;
    right: 0;
    z-index: 0;
}

.Paragraph {
    width: 65%;
    margin-bottom: 2%;
    z-index: 1;
}

.Thumbnail img {
    max-width: 400px;
    height: 20vw;
    width: 100%;
    max-height: 220px;
    border-radius: 10px;
    
}
.Youtube .VideoContainer .Thumbnail {
    padding: 2.5% 2.5% 2.5% 2.5%;
    position: relative;
    width: 45%;
}

.Youtube .VideoContainer .Thumbnail .Playbtn {
    position: absolute;
    left: 35%;
    top: 35%;
    cursor: pointer;
}
.Text {
    color: #fff;
    padding-left: 1.5%;
    padding-right: 2.5%;
    width: 45%;
}


.videos {
    width: 70%;
    z-index: 1;
}

.YoutubeContent {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.VideoContainer {
    display: flex;
    background-color: black;
    margin-bottom: 5%;
    height: 100%;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0 0 5px 1px white;
    /* width: 100%; */
}

@media (max-width: 760px) {
    .VideoContainer {
        flex-direction: column;
    }

    .Text {
        width: 80%;
        padding-bottom: 2.5%;
    }

    .Youtube .VideoContainer .Thumbnail {
        width: 65%;
    }

}

@media (max-width: 500px) {
    .Text {
        width: 90%;
        padding-bottom: 2.5%;
    }

    .Youtube .VideoContainer .Thumbnail {
        width: 80%;
    }

}